body, html {
    height: 100%;
    margin: 0;
    padding: 0;
  }


.container {
    height: 100%;
    display: grid;

    grid-template-areas: 
    "d h h h h h"
    "d h h h h h"
    "d c c c c c"
    "d c c c c c"
    "d c c c c c"
    "d c c c c c"
    "d c c c c c"
    "d c c c c c"
    "d c c c c c";
}

.dashboard {
    background-color: red;
    grid-area: d;
}

.header {
    background-color: green;
    grid-area: h;
}

.content {
    background-color: blue;
    grid-area: c;
}